html{
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 17px;
	background: #6BC8FF2E;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

ul, li {
	display: block;
	padding: 5px;
	margin: 0;
}


input{
       font-size:14px;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: #27C0DF;
	border: none;
	color: white;
	padding: 4px 8px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

input[type=text], input[type=password], select {
	padding: 3px 5px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input:disabled{
	background-color: #aaa;
}

.main{
	position: relative;
	min-height: 85%;
}

.container {
	width: 1750px;
	margin: 0 auto;
}

.container-foot {
	width: 1750px;
	margin: 0 auto;
	padding: 10px;
}

.header{
	background: url('../img/background-bar-blue.png') no-repeat center top / cover;
	height: 10%;
}

header a{
	color: white; 
}

.header-title{ 
	letter-spacing: 0.1em;
}

.logo{
	margin-right: 100px;
}

.footer{
	background: url('../img/background-bar-blue.png') no-repeat center top / cover;
	position: relative;
  	left: 0;
  	bottom: 0; 
  	width: 100%;
  	min-height: 5%;
}

footer a{
	color: white; 
}

.menu{
	display: flex;
}

.menu li a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 0.1em;
}

.menu li{
	margin-right: 40px;
}

.tel{
	font-style: 18px;
	text-decoration: none;
	margin-left: auto;
	margin-right: 50px;
	letter-spacing: 0.05em;
}

.nav{
	display: flex;
	align-items: center;
	padding: 5px;
}

.nav p{
	margin-left: 40px;
	font-size: 21px;
	color: white;
}

#navbar {
	margin: 0 auto;
	padding: 5px;
	display: block;
	min-width: 150px;
}

#navbar li a {
	color: #3b6d86;
	font-size: 19px;
	margin-right: 10px;
	text-decoration: none; 
}

#navbar li a:hover{
	color: #3dbf5e; 
}


.error-image{
	display: block;
	width: 35%;
	margin: auto;
	padding-top: 40px;
}

.about-image{
	width: 575px;
	border-radius: 10px;
}

#profile-image{
	max-width: 200px;
}

.content{
	width: 1750px;
	margin: 0 auto;
	display: flex;
}

#content-about{
	display: block;
}

.content-title{
	padding-top: 100px;
	font-size: larger;
	text-align: center;
}


.side-panel{
	margin-top: 40px;
	width: 10%;
	display: block;
	height: 100%;
}

.side-panel li{
	position: relative;
	margin-top: 10px;
}

.side-panel li a{
	text-decoration: none;
	font-size: 18px;
	/*расстояние между буквами*/
}

.side-panel li a:hover {
	text-decoration: underline;
}


.logout{
	position: relative;
	margin-top: 100%;
}

.block{
	margin-top: 10px;
	width: 90%;
	display: flex;
}


.sheet{
	border: 2px solid #000;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background: #a0dfa0;
}

.sheet a {
     display: block;
     height: 100%;
     text-decoration: none; 
     color: #000;
}

.sheet a:hover{
     background: #dfd;
}


.block-column {
	padding: 40px;
}

.block-info {
	padding: 40px;
	
}

.block-info p{
	text-align: initial;
	font-size: large;
}


#contacts{
	padding-top: 10px;
	padding-bottom: 10px;
}

#contacts p{
	font-size: 18px;
	font-style: normal;
}

#contacts-licence{
	padding-top: 60px;
	padding-bottom: 10px;
}


.search{
	display: block;
	width: 1000px;
	margin-bottom: 25px;
}

.search form, p{
	margin-right: 10px;
	margin-left: 8px;
	text-align: center;
}

.search input{
	min-width: 99%;
	outline: 2px solid #000;
}

.search select{
	min-width: 100%;
	outline: 2px solid #000;
}

#search{
	height: 500px;
}

#submit{
	margin-top: 10px;
	min-width: 10%;
}


.history{
	overflow: auto;
	width: 1000px;
	height: 700px;
}

.history-row{	
	display: ruby-base;
}

.history-title{
	margin-left: 10px;
}

.history-break {
	/*разрыв*/
  	height: 5px;
}

.history-sheet{	
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	padding: 10px;
	outline: 2px solid #000;
}

.history-sheet a {
     display: block;
     height: 100%;
     text-decoration: none; 
     color: #000;
}

.history-sheet a:hover{
     background: #A4B4BD47;
}


.col1 {
 	background: #78E3F42E;
 	min-width: 20%;
 	
}
.col2 { 
 	background: #E6CADA6E; 
 	min-width: 20%;
}
.col3 { 
	background: #86E3A552;
	min-width: 20%;	
}
.col4 { 
	background: #86E3A552;
	min-width: 39%;	
}


.payment{
	width: 90%;
	display: flex;
	text-align: center;
	min-width: 900px;
	flex-wrap: wrap;
	
}

.payment-sheet{
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	outline: 2px solid #000;
	position: relative;
	background: #84dee8;
	min-width: 400px;
	min-height: 150px;
}

.payment-sheet a {
    display: block;
    height: 100%;
    text-decoration: none; 
    color: #000;
}

.payment-sheet a:hover{
     background: #b5ebf0;
}

#element{
	line-height: 1.5em;
}

.unavailable{
	height: 100%;
	line-height: 1.5em;
	background: #d2dedf;
}

.unavailable:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; right: 0; bottom: 5px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: #db1f3087; /* Полупрозрачный цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
}

#pay{
	padding: 10px;
	margin-left: 40px;
}

#pay-title{
	justify-content: center;
	max-width: 500px;
}

#transfer-title{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#details{
	margin-left: 10px;
}


#currency{
	border: 2px solid #000;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 0px;
	border-radius: 5px;
	background: #84dee8;
}

#currency :hover{
     background: #b5ebf0;
}


#about{
	padding-top: 10px;
	min-width: 1400px;
}

#about p{
	font-size:19px;
	text-align: inherit;
}

.inline{
	display: block ruby;
}


.list{
	margin-top: 10px;
	width: 90%;
	display: block ruby;
	text-align: center;
}

.list-sheet{
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	outline: 2px solid #000;
	position: relative;
	background: skyblue;
}

.list-sheet a {
    display: block;
    min-width: 400px;
	min-height: 150px;
    height: 100%;
    text-decoration: none; 
    color: #000;
    line-height: 1.5em;
}


.avatar {
	vertical-align: middle;
	max-width: 120px;
	max-height: 160px;
	border-radius: 10%;
	object-fit: cover;
	object-position: 0 0;
}


.break {
	/*разрыв*/
  	height: 25px;
}